extends layout

block content
  .container-fluid
    .jumbotron
      .container
        .row
          .col-md-3.text-center
            .panel.panel-default
              .panel-heading
                h3.panel-title Cookies
              .panel-body
                .row
                  .col-md-12
                    button.btn.btn-primary 0
                .row
                  .col-md-12
                    button.btn.btn-block reset
          .col-md-3.text-center
            .panel.panel-default
              .panel-heading
                h3.panel-title Sessions
              .panel-body
                .row
                  .col-md-12
                    button.btn.btn-primary 0
                .row
                  .col-md-12
                    button.btn.btn-block reset
          .col-md-3.text-center
            .panel.panel-default
              .panel-heading
                h3.panel-title LocalStorage
              .panel-body
                .row
                  .col-md-12
                    button#btnlocalStorage.btn.btn-primary 
                .row
                  .col-md-12
                    button.btn.btn-block reset
          .col-md-3.text-center
            .panel.panel-default
              .panel-heading
                h3.panel-title DB
              .panel-body
                .row
                  .col-md-12
                    button.btn.btn-primary 0
                .row
                  .col-md-12
                    button.btn.btn-block reset
        
  script(src="/javascripts/localstorage.js")

  
